.header,
.footer{
  width: 100%;
  color: var(--blanco);
  background-color: var(--color-secundario);
}

.header{
  position: sticky;
  top: 0;
  padding: 1.5rem;
  z-index: 100;
}

.footer{
  bottom: 0;
  left: 0;
  padding: 1.2rem;
}

.app-contenedor{
  flex: 1;
  padding: 2rem;
  /* background-color: var(--color-terciario); */
}

.login{
  background-color: var(--color-terciario);
  border-radius: .5rem;
  padding: 1.5rem;
  height: 20rem;
  margin-top: 3rem;
  color: var(--color-primario);
  font-weight: 600;
  h1{
    font-weight: 500;
  }
  border: solid 1.5px var(--gris);
  
  /* Ahora defino las sombras que aparecen al lado del componente, para reutilizarlo copien las 3 líneas de abajo */
  -webkit-box-shadow: 6px 4px 11px -4px rgba(0,0,0,0.76);
  -moz-box-shadow: 6px 4px 11px -4px rgba(0,0,0,0.76);
  box-shadow: var(--shadow-box);
}